html{
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("/img/Fondos/tablero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#config {
    color: white;
    font-size: 17px;
    width: 20em;
    margin: 1em auto;
    border: solid white 3px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 1em;
    font-family: cursive;
}

#config td,
th {
    padding: 10px;
}

#config td {
    width: 10px;
    text-align: right;
}

.filas th {
    text-align: left;
}

#tituloConf {
    text-align: center;
    font-size: 25px;
}

#config select,
#config input {
    width: 100px;
}

.personalizado input {
    width: 30px;
}

.personalizado {
    display: none;
}

#juego {
    display: none;
}

header {
    color: white;
    font-size: 14px;
    margin: 0 auto;
    border: solid white 3px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: cursive;
}

#wrapper {
    margin: 2em auto;
    width: 700px;
    border-radius: 10px;
    color: black;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 10px;
}

#wrapper img {
    width: 100%;
}

#wrapper div {
    border-radius: 10px;
}

header {
    width: 90%;
}

#info {
    margin: 0 auto;
}

#info td {
    margin: 0;
    padding: 1em;
    width: 30%;
}

#crono {
    font-size: 23px;
    width: 120px;
}

#crono td {
    margin: 0;
    padding: 0;
}

#wrapper div {
    background-color: white;
}

.voltea{
    transform: rotateY(180deg);

    transition: transform 1s;    
}
.carta img {
    image-rendering: pixelated;    /* Estándar moderno */
    image-rendering: crisp-edges;  /* Compatibilidad */
    image-rendering: -moz-crisp-edges;   /* Firefox antiguo */
    image-rendering: -webkit-optimize-contrast; /* Safari antiguo */
    image-rendering: optimizeSpeed; /* Edge antiguo */
}
.carta{
    padding: 5px;
    box-shadow: 4px 8px 10px black;
}

#logo{
    margin: 7em auto 2em auto; 
    width: 700px;
}

#puntuacion{
    display: none;
}

#ranking{
    color: white;
    font-size: 17px;
    width: 20em;
    margin: 1em auto 2em auto;
    border: solid white 3px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 1em;
    border-collapse: separate;
    border-spacing: 0;
    font-family: cursive;
}

#ranking td,  #listaHistorial td{
    padding: 10px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    font-family: cursive;
}

#btnVolver, #btnJugar, #P456, #btnHistorial{
    color: white;
    margin: 1em auto;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: solid white 2px;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    font-family: cursive;
}

#mensajeFinal{
    color: white;
    font-family: cursive;
    font-size: 25px;
    width: 15em;
    margin: 4em auto 2em auto;
    border: solid white 3px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 1em;
}

#Oranking{
    color: white;
}

#historial {
    display: none; /* Ya lo tienes, lo mantengo si sigue siendo necesario */
    color: white;
    font-size: 17px;
    width: 20em;
    margin: 1em auto 2em auto;
    border: solid white 3px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 1em;
    border-collapse: separate;
    border-spacing: 0;
    font-family: cursive;
}

#historial ul {
    list-style: none;
    padding: 0;
}

#historial li {
    padding: 10px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    font-family: cursive;
}
 #listaHistorial td{
 text-align: center;
 }